<app-header></app-header>
<div class="container">
    <div class="confirmation-container">
        <h1>Confirmed order</h1>
        <p>Thank you for order! Below is your order details</p>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwvhgJA4wsFwlwNSSm23O8bfCBq7wLdq1WEQ&usqp=CAU"
                                alt="Product Image" class="product-image">
                            <div class="product-name">Ten san pham</div>
                        </div>
                    </td>
                    <td>2</td>
                    <td>$200</td>
                    <td>$399</td>
                </tr>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwvhgJA4wsFwlwNSSm23O8bfCBq7wLdq1WEQ&usqp=CAU"
                                alt="Product Image" class="product-image">
                            <div class="product-name">Ten san pham</div>
                        </div>
                    </td>
                    <td>2</td>
                    <td>$200</td>
                    <td>$399</td>
                </tr>
            </tbody>
        </table>

        <div class="text-center mt-3">
            <button type="button" class="btn btn-gradient">Continue shopping</button>
        </div>
    </div>
</div>
<app-footer></app-footer>