<app-header></app-header>
<div class="container">
  <div class="confirmation-container">
    <h1>Confirmed order</h1>
    <p>Thank you for order! Below is your order details</p>
  </div>
  <div class="row">
    <div>
      <table>
        <thead>
          <tr>
            <th scope="col" class="text-start">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total Price</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of cartItems">
            <tr>
              <td>
                <div class="product-info">
                  <img
                    [src]="
                      item.product.thumbnail && item.product.thumbnail !== 'link' 
                        ? baseImageUrl + item.product.thumbnail
                        : defaultUrl
                    "
                    alt="Product Image"
                    class="product-image"
                  />
                  <div class="product-name">{{ item.product.name }}</div>
                </div>
              </td>
              <td>{{ item.quantity }}</td>
              <td>
                {{ item.product.price | currency : "USD" : "symbol" : "1.0-2" }}
              </td>
              <td>
                {{
                  item.product.price * item.quantity
                    | currency : "USD" : "symbol" : "1.0-2"
                }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <!-- Coupon -->
    <div class="input-group mb3 mt-3">
      <input
        type="text"
        name=""
        id="coupon"
        placeholder="Enter coupon"
        class="form-control"
        [(ngModel)]="couponCode"
      />
      <div class="input-group-append" style="margin-left: 10px">
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="applyCoupon()"
        >
          Apply
        </button>
      </div>
    </div>

    <p class="mb-0">Total amount: {{totalAmount | currency : "USD" : "symbol" : "1.0-2" }}</p>
    <div class="text-center mt-3">
      <button type="button" class="btn btn-gradient" (click)="makePayment()">
        Make Payment
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>
